@charset "UTF-8";

body{
  padding: 0;
  margin: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  --dark-blue : #2c3e50;
}

html, body {
  height: auto;
  width: 100%;
}

fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}
img, .img {
  pointer-events: none;
}
a {
  cursor: pointer;
}
audio,canvas,iframe,img,svg,video {
  vertical-align: middle;
}

textarea {
  resize: vertical;
}

form{
   margin: 0;
padding: 0;
 }

h1,h2,h3,h4,h5,h6, p{
  margin: 0;
  padding: 0;
}
.dark-blue {
  color: var(--dark-blue);
}
#erreur, #valide {
  padding-bottom: 40px;
}
#error {
  color: red;
  display: inline;
}

#validate {
  color: green;
  display: inline;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}
.navigation-menu{
  transition: box-shadow 0.5s;
}
.semi-transparent {
  background-color: rgba(255, 255, 255, 0.918)
}
.row {
  margin-bottom: 0!important;
}
.margin_side {
  width: 70%!important;
  margin: 0 auto;
}
.margin-top-50 {
  margin-top: 50px!important;
}
.logo-nav {
  display: inline-block;
  height: 100%;
  width: 200px;
  line-height: 84px;
}
nav {
  min-width: 20%;
}
nav ul a {
  font-size: 1rem!important;
}
nav ul a i{
  font-size: 20px!important;
}
.navbar-fixed {
  height: 100%!important;
}

/*MENU Mobile*/
.cd-accordion-menu input[type=checkbox] {
  /* hide native checkbox */
  position: absolute;
  opacity: 0;
}
.close-burger {
  display: none!important;
}
.cd-accordion-menu label, .cd-accordion-menu a {
  position: relative;
  display: block;
  width: 100%;
  font-size: 13px;
  color: white;
}

.cd-accordion-menu ul {
  /* by default hide all sub menus */
  display: none;
}

.cd-accordion-menu input[type=checkbox]:checked + .sous-menu + ul,
.cd-accordion-menu input[type=checkbox]:checked + .sous-menu:nth-of-type(n) + ul {
  /* use label:nth-of-type(n) to fix a bug on safari (<= 8.0.8) with multiple adjacent-sibling selectors*/
  /* show children when item is checked */
  display: block;
}

.cd-accordion-menu input[type=checkbox]:checked + label + ul,
.cd-accordion-menu input[type=checkbox]:checked + label:nth-of-type(n) + ul {
  /* use label:nth-of-type(n) to fix a bug on safari (<= 8.0.8) with multiple adjacent-sibling selectors*/
  /* show children when item is checked */
  display: block;
}

.sidenav-trigger {
  height: 100%!important;
  display: flex;
  align-items: center;
}
.sidenav-trigger > i{
  font-size: 24px!important;
  height: 24px!important;
  line-height: 1!important;
}
.sidenav {
  background-color: #141823!important;
}
.sidenav > li{
  background-color: #222634!important;
  margin-bottom: 2px;
}
.sous-menu {
  padding-left: 15px!important;
  padding-right: 0px!important;
}
.sous-menu label, .has-children label {
  cursor: pointer;
}
.collapsible-header i {
  margin-right: 0px!important;
}
.cd-accordion-menu input[type=checkbox]:checked + label, .cd-accordion-menu input[type=checkbox]:checked + label i, .cd-accordion-menu input[type=checkbox]:checked + .sous-menu > label, .cd-accordion-menu input[type=checkbox]:checked + .sous-menu > label i{
  color: #4ebd9b!important;
}

.cd-accordion-menu input[type=checkbox]:checked + label, .cd-accordion-menu input[type=checkbox]:checked + .sous-menu {
  background-color: #191c28!important;
}

.cd-accordion-menu input[type=checkbox]:checked + .sous-menu, .cd-accordion-menu input[type=checkbox]:checked + label {
  border-left: solid 2px #4ebd9b;
}
.has-children i {
  font-size: 15px!important;
  font-weight: bold!important;
  transition-duration: 200ms;
}
.cd-accordion-menu .has-children input[type=checkbox]:checked + label i {
  transform: rotate(45deg)!important;
  transition-duration: 200ms;
}
.has-children span {
  margin-top: calc(26.5px - 11px)!important;
}
header i, .sidenav a{
  user-select: none;
}
.collapsible-body{
  background-color: #303345!important;
}

.has-children label{
  padding-left: 15px;
  background-color: #303345!important;
}

.has-children > ul a{
  color: #484c68!important;
}
/*----------------*/
.hide-on-med-and-down > li > a, .hide-on-med-and-down > li > a > i {
  line-height: 74px!important;
}
.content {
  text-align: center;
  flex: 1 0 auto;
  margin-top: 10px;
}


h1 {
  padding: 50px;
}


a.nick {
  display: flex;
  width: auto;
  outline: none;
  padding: 0 0 0 15px;
}

.iconmail {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
}

.hide-on-med-and-down {
  display: flex;
}

.select-dropdown li.disabled {
  display: none!important;
}

.logoPole {
  vertical-align: middle;
  width: 200px;
}
nav .nav-wrapper {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 745px) {
  .logo-nav {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .margin_side, .contenant {
    width: 100%!important;
  }
}
@media only screen and (max-width: 992px) {

  h4{
    font-size: 160%!important;
  }
  h3{
    font-size: 200%!important;
  }
}
.text_pres{
  display: flex;
  align-items: center;
  height: 100%;
}

.height-nav {
  height: 64px!important;
}

.color-grey-footer {
  background-color: #222534!important;
}

.size-8 {
  font-size: 8px;
}

.size-9 {
  font-size: 9.5px;
}

.size-10 {
  font-size: 10.5px;
}
.size-11 {
  font-size: 11px;
}
.size-12 {
  font-size: 12px;
}

footer a {
  color: #1bbc9b;
}

footer h6 {
  font-size: 1.20rem!important;
  margin-top: 0!important;
}

footer .resize-title {
  min-height: 35px!important;
}

footer p {
  margin-top: 3px;
  word-break: break-word;
}

.color-read-more {
  color: #1bbc9b;
}

.read-more:hover .color-read-more{
  color: white!important;
}

.read-more:hover > a{
  color: white!important;
}

.color-facebook {
  font-size: 40px!important;
  color: #3b5998;
}

.color-instagram {
  font-size: 40px!important;
  color: #3f729b;
}

.carre {
  width: 30px;
  height: 30px;
}

.carre > .material-icons {
  visibility: hidden;
}

.hover-article:hover .carre > .material-icons {
  visibility: visible;
}

.hover-article:hover .title-article {
  color: white!important;
}
.hover-article:hover .carre {
  background-color: #1bbc9b!important;
  color: white!important;
}

.hover-article:hover .carre > .material-icons {
  visibility: visible;
}


.hover-article:hover, .hover-partenaire:hover {
  cursor: pointer;
}

.hover-partenaire:hover > a p {
  color: #1bbc9b;
}

.hover-partenaire:hover > a .square-partenaire {
  color: white;
}

.square-partenaire {
  font-size: 6px!important;
  margin-right: 5px;
  color: #1bbc9b;
}

.division-green {
  background-color: #1bbc9b!important;
  height: 3px;
}

.more-article {
  font-size: 30px!important;
}

.spot {
  display: inline-block;
  margin-left: 50px;
  z-index: 100;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  position: relative;
  transition: 0.1s;
}

#lightbox  {
  height: auto;
  position: relative;
  height: 100%;
}
.map {
  height: 600px;
}

.formulaire {
  height: 100%;
  margin-bottom: 50px;
  border: 1px solid black;
}

.border-map {
  border: 4px black solid;
}
